.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #d4d3d3d0;
  padding: 0 40px 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav__link img {
  width: 30px;
  height: 30px;
}

.nav__link :first-child {
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 15px;
}

.nav__notifiDots {
  display: flex;
  margin-left: 27px;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
}
